dist: bionic
language: python
python:
[%- if minimal_python <= 3.6 %]
  - '3.6'[%-endif %]
[%- if minimal_python <= 3.7 %]
  - '3.7'[%-endif %]
  - '3.8-dev'

# matrix:
#   allow_failures:
#     - python: 'nightly'

before_install: pip install -U pip coveralls
install: pip install .[testing]
script: pytest --cov [[ name ]] [[ name ]] tests
after_success: coveralls
