language: python

matrix:
  include:
[%- if minimal_python <= 3.5 %]
    - python: 3.5[% endif %]
[%- if minimal_python <= 3.6 %]
    - python: 3.6[%-endif %]
    - python: 3.7
      dist: xenial
      sudo: true

before_install:
  - pip install -U pip pytest

install:
  - pip install .

script: pytest -x .
