---
dist: bionic
language: python
python:
[%- if minimal_python <= 3.6 %]
  - '3.6'[%-endif %]
  - '3.7'
  - '3.8-dev'
  - 'nightly'

matrix:
  allow_failures:
    - python: 'nightly'

before_install: pip install -U pip coveralls
install: pip install .[testing]
script: pytest --cov [[ name ]] [[ name ]] tests
after_success: coveralls
