[tox]
skipsdist = True
envlist =
[%- if minimal_python <= 3.5 %]py35,[% endif -%]
[%- if minimal_python <= 3.6 %]py36,[% endif -%]
[%- if minimal_python <= 3.7 %]py37,[% endif -%]
py38

[testenv]
skip_install = true
commands =
	pip install -U pytest
    pip install -e .
    pytest -x .

[coverage:run]
branch = True

[coverage:report]
exclude_lines =
    pragma:no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    if 0:
[% if coverage_omit -%]
omit =
	[[ "\n    ".join(coverage_omit) ]]
[%- endif %]

[coverage:html]
directory = covreport
