
# [[ title ]] Documentation


Instead of Sphinx, this documentation is written in Markdown and managed using
[mkdocs.org](https://www.mkdocs.org).


## Commands

* `mkdocs serve` - Start the live-reloading docs server.
* `mkdocs build` - Build the documentation site.


## Project layout

    mkdocs.yml    # The configuration file.
    docs/
        index.md  # The documentation homepage.
        *.*       # Everything else


## License

The text of the documentation is licensed under a ("Creative Commons Attribution-ShareAlike 4.0 International")[https://creativecommons.org/licenses/by-sa/4.0/] License.
